*{
    font-family: 'Hind', sans-serif; 
 margin:0; padding:0;  color:#333333;
  box-sizing: border-box;
}
header{
    width: 100%; height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; position: sticky; top: 0; margin-bottom: 50px; 
}
nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold; 
  letter-spacing: 1.5px; 
  color: rgb(99, 10, 10); font-size: 25px;
}
.nav-link{
  color: #400A0A;
}
#tony-info{
  width: 80%;height: 800px;display: flex; margin: auto; gap: 10px;
}
.ironman{
  width: 50%;border: 2px solid rgb(230, 234, 230);height: 800px; text-align: justify; padding: 20px;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#tony-image{
  width: 300px;height: 300px; border-radius: 50%;margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#social{
  width: 50%;height: 100px;
  display: grid;grid-template-columns: repeat(3,1fr);margin: auto;
}
.media{
  background-color: rgb(221, 196, 255);margin: auto;
}
h2{
  text-align: center; color: rgb(92, 92, 236);
}
h3{
  text-align: center;
}
ul{
  padding-left: 15px;
}
a:hover{
  background-color: red;
}
#grad{
  background-image: linear-gradient(to right, rgba(181, 202, 179, 0), rgb(228, 196, 196));
}
/* Medium Screen */
@media all and (max-width:750px) and (min-width:521px)  {
  #tony-info{
    width: 100%;height: 1000px;display: grid;grid-template-columns: repeat(1,1fr);margin: auto;
  }
  .ironman{
    width: 100%;border: 2px solid rgb(75, 121, 75);height: 900px; text-align: justify; padding: 20px;
}
header{
  width: 100%; height: 50px;
  box-shadow: rgba(168, 28, 28, 0.24) 0px 3px 8px; position: sticky; top: 0; margin-bottom: 50px;
}
nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
#grad{
  background-image: linear-gradient(to right, rgba(181, 202, 179, 0), rgb(129, 160, 173));
}
h2{
  text-align: center; color: rgb(92, 92, 236); font-size: 20px;
}
h3{
  text-align: center;font-size: 15px;
}
ul{
  padding-left: 15px;
}
a:hover{
  background-color: rgb(0, 255, 145);
}
.nav-title {
  font-weight: bold; 
  letter-spacing: 1.5px; 
  color: rgb(109, 21, 233); font-size: 20px;
}
}
/* Small Screen */
@media all and (max-width:522px) and (min-width:369px){
  #tony-info{
    width: 100%;height: 1000px;display: grid;border: grid-template-columns: repeat(1,1fr);margin: auto;
  }
  .ironman{
    width: 100%;border: 2px solid rgb(234, 241, 234);height: 900px; text-align: justify; padding: 20px;
}
header{
  width: 100%; height: 50px;
  box-shadow: rgba(24, 11, 175, 0.24) 0px 3px 8px; position: sticky; top: 0; margin-bottom: 50px;
}
nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
#grad{
  background-image: linear-gradient(to right, rgba(76, 67, 114, 0), rgb(219, 23, 23));
}
h2{
  text-align: center; color: rgb(92, 92, 236); font-size: 20px;
}
h3{
  text-align: center;font-size: 15px;
}
ul{
  padding-left: 15px;
}
a:hover{
  background-color: rgb(14, 8, 117);
}
.nav-title {
  font-weight: bold; 
  letter-spacing: 1.5px; 
  color: rgb(252, 13, 13); font-size: 15px;
}
}
/* very samll screen */
@media all and (max-width:368px) and (min-width:0px){
  #tony-info{
    width: 100%;height: 1000px;display: grid;border: grid-template-columns: repeat(1,1fr);margin: auto;
  }
  .ironman{
    width: 100%;border: 2px solid rgb(234, 241, 234);height: 900px; text-align: justify; padding: 20px;
}
header{
  width: 100%; height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; position: sticky; top: 0; margin-bottom: 50px;
}
nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}
h2{
  text-align: center; color: rgb(92, 92, 236); font-size: 20px;
}
h3{
  text-align: center;font-size: 15px;
}
ul{
  padding-left: 15px;
}
a:hover{
  background-color: rgb(14, 8, 117);
}
.nav-title {
  font-weight: bold; 
  letter-spacing: 1.5px; 
  color: rgb(20, 186, 56); font-size: 10px;
}
}